language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-exit-time-destructors -Wno-deprecated main.cpp BuildNewFormWrapper.cpp BuildNewForm.cpp Form.cpp VuMetersWrapper.cpp VuMeters.cpp Meter.cpp RandomSeqWrapper.cpp RandomSeq.cpp StepSequencer.cpp && ./a.out"
